<article class="flex h-[100%] flex-col gap-2 border p-2 px-4 shadow rounded-xl">
    <h2 class="text-lg">{{task.title}}</h2>
    <p class="opacity-60 mt-auto">{{task.description}}</p>

    <div class="flex justify-between">
        <button (click)="deleteTask()" class="text-red-500 cursor-pointer border hover:bg-red-500 hover:text-white border-red-300 rounded px-3 py-1">{{'Delete'}}</button>
        <button  (click)="editTask()" class="border cursor-pointer border-slate-100 hover:bg-black hover:text-white rounded px-3 py-1">{{'Edit'}}</button>
    </div>
</article>